.btn:focus {
  outline: none;
}

.voted {
  background-color: #003300;
}

.voted-tied {
  background-color: #333300;
}

.voter {
  border-bottom: 1px solid #444;
}

.poked {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg) scale(1);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg) scale(1.1);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg) scale(1.2);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg) scale(1.3);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg) scale(1.4);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg) scale(1.5);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg) scale(1.4);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg) scale(1.3);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg) scale(1.2);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg) scale(1.1);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg) scale(1);
  }
}
